.admin-employee-card {
    justify-content: left;
    width: 100%;
    height: 100%;
    background-color: gray;
    margin: 10px; 
    position: relative;
}

.admin-employee-name {
    padding-bottom: 5px;
    font-size: 2em;
    margin-top: 5px;
    margin-left: 8px;
    color: rgb(255, 253, 208);
    font-family: 'Cabin', sans-serif;
    justify-content: space-between;
    display: flex;
}

.admin-employee-btns {
    position: absolute;
    width: 85%;
    bottom: 5px;
    padding: 10px;
    margin-left: 10px;
}

.admin-employee-data-btn {
    font-size: 1em;
    color: rgb(236, 226, 201);
    background-color: transparent;
    border-radius: 2px;
    border: 2px solid rgb(236, 226, 201);
    margin: 8px;
}

.admin-employee-delete-btn {
    color: rgb(236, 226, 201);
    background-color: transparent;
    border-style: none;
}


.empnamediv {
    margin: 20px;
    padding: 10px;
    color: rgb(238, 221, 182);
    background-color: rgb(52, 75, 10);
    width: 80%;
    border-top-left-radius: 20px;
    /* border-bottom-left-radius: 20px; */
    border-bottom-right-radius: 20px;
}

.fa-minus-circle {
    color: rgb(173, 24, 61);
    font-size: 20px;
}

.btnadd {
    height: 20px;
    width: 30px;
    border-radius: 50%;
    border-style: none;
    background-color: transparent;
    margin-right: 10px;
}

.fontitalicsmall {
    padding-bottom: 5px;
    font-size: 20px;
}

.empnamebtn1:focus {
    outline: none !important;
    -ms-transform: scale(1.1); /* IE 9 */
    -webkit-transform: scale(1.1); /* Safari 3-8 */
    transform: scale(1.1);
}

.modal-overlay {
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0,0,0,0.025);
    z-index: 2;
    cursor: pointer;
    transition-delay: 10s;
    transition-timing-function: ease-in;
    overflow: hidden;
}

.info-modal-wrap {
    display: flex;
    justify-content: center;
    margin-top: 20px;
}

.info-modal-container {
    width: 50%;
    height: 400px;
    border-color: rgb(97, 72, 7);
    border-style: solid;
    border-width: 2px;
    background: rgb(245, 243, 238);
    padding: 20px;
    overflow: auto;
}

.info-modal-center {
    width: 100%;
    justify-content: center;
    display: flex;
}

.info-modal-inner {
    padding: 3px;
}

.empdelbtn {
    border-style: none;
    background-color: transparent;
}

.infodetails {
    margin-bottom: 5px;
}

.info-spec-key {
    font-family: 'cabin', sans-serif;
    font-weight: bold;
}

.info-spec-value {
    font-family: 'cabin', sans-serif;
    padding-left: 5px;
}

.info-spec-value-block {
    font-family: 'cabin', sans-serif;
    padding: 5px;
    margin-top: 5px;
    background-color: lightgray;
    border: 1px solid gray;
}
