.navbar {
  margin-top: 0;
  width:100%;
  background-color: rgb(74, 53, 107); 
  height: 50px;
  display: flex;
}

.brandTitle {
    font-size: 2em;
    font-family:'Lobster', sans-serif;
    color: white;
    padding: 5px 0px 0px 10px;
    
  }

.userNavBtn {
    margin-left: auto; 
}

.NavBtn {
  font-family: 'cabin', sans-serif;
  font-size: 1em;
  background-color: transparent;
  color: white;
  border-color: transparent;
} 

a:visited {
  color: white;
}
